[Unit]
Description=Libvirt evdev input service
Before=libvirtd.service

[Service]
ExecStart=/usr/local/bin/libvirt-evdev.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify


[Install]
WantedBy=multi-user.target
